In [1]:
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
# Pandas is a library to load data into python easily
data_frame = pd.read_csv("data.dat",names=["x", "y", "yerr"])

In [3]:
# This will print the first few rows of the dataframe
data_frame.head()

    x            y       yerr
0  10   983.482501  34.750420
1  19   920.961719  27.307489
2   9   983.679501  17.036210
3  41   506.485219  14.365885
4   2  1009.873884  43.683312

In [21]:
# To access a single column in the dataframe you can access it by it's label
print(data_frame['y'])

# For simple labels (no spaces or special characters) you can access it without the brackets 
print(data_frame.y)

#It returns an array so get a single element you can use this notation
print(data_frame.yerr[0])

0       983.482501
1       920.961719
2       983.679501
3       506.485219
4      1009.873884
          ...
195     972.899456
196     705.044571
197     926.872430
198     489.067121
199     574.601894
Name: y, Length: 200, dtype: float64
0       983.482501
1       920.961719
2       983.679501
3       506.485219
4      1009.873884
          ...
195     972.899456
196     705.044571
197     926.872430
198     489.067121
199     574.601894
Name: y, Length: 200, dtype: float64
34.75041988752529

In [5]:
# TODO: 
# Plot the points as an errorbar graph (https://matplotlib.org/3.1.1/api/_as_gen/matplotlib.pyplot.errorbar.html)
# Fit the graph
# Find where the graph would hit 0